body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background: #fff;
    color: #4a4a4a;
    height: 100vh;
  }

  header, footer {
    flex: 1 0 0;
    font-size: large;
    text-align: center;
    padding: 0.3em 0;
    background-color: #4a4a4a;
    color: #f9f9f9;
  }

  .container {
    flex: 8 0 0;
    display: flex;
    flex-direction: row;
  }

  nav {
    background: #eee;
    flex: 2 0 0;
    padding: 0 10px;
  }

  main {
    background: #f9f9f9;
    flex: 7 0 0;
    padding: 0 20px;
  }

  aside {
    background: #eee;
    flex: 1 0 0;
    padding: 0 10px;
  }

  * {
      box-sizing: border-box;
  }

  #navigation-title {
      color: red;
  }

  .menu-item {
      text-decoration: underline;
      box-shadow: 10 10 20 20 brown;
  }

  .selected {
      font-weight: bold;
      color: #009999;
      font-family: "sans-serif";
  }